/*--FAQ-sec css---*/
.faqSec {
    border-bottom: 1px solid #eaeaea;
    padding: 70px 0;
}

.faqSec .secHead {
    margin-bottom: 70px;
}

.faqsMain {
    max-width: 1140px;
    margin: 0 240px auto;
}
.faqBannerimg img{margin: auto;}

.faqsMain .accordion-body{padding: 0;}
.faqsmain .accordion-item {
    background: #fff;
    margin-bottom: 35px;
    border: 0;
}

.accordion-item {
    border: 0;
    margin-bottom: 45px;
}

.accordion-item:last-child {
    margin-bottom: 10px;
}

.faqsMain .accordion-header {
    position: relative;
}

.faqsMain .accordion-item .accordion-header .accordion-button {
    padding: 12px 35px 15px 65px;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background-color: #eeeeee;
    display: block;
    padding-right: 90px;
    box-shadow: none;
}

.accordion-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    margin: auto;
    background-image: url(../img/svg/plus.svg);
    object-fit: contain;
    object-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.accordion-button:focus {
    border-color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/svg/minus.svg);
}

/*.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #1989ff;
}*/


.accordion-body .cmsCon {
    padding: 30px 65px 0 65px;
}

.accordion-item .cmsCon p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}


/* touch-sec css */
.getTouchSec {
    position: relative;
    margin-top: 85px;
}

.getTouchSec::before {
    content: "";
    position: absolute;
    bottom: 38.5%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
}

.getTouchBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.getTouchCon {
    width: 49%;
}

.getTouchDesc .secTitle {
    padding-bottom: 30px;
}

.getTouchDesc .secHead {
    margin-bottom: 142px;
    max-width: 80%;
}

.getTouchDesc p {
    max-width: 650px;
}

.commonGetTouch .contactcall {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.commonGetTouch .contactcall:hover {
    color: #09aa6e;
    transition: all 0.4s ease-in-out;
}

.secEmail .emailDesc {
    padding-top: 28px;
    max-width: 450px;
}

.contactDetails {
    padding-top: 150px;
}

.contactInfo p {
    padding: 30px 0 50px;
    margin: 0;
}


.getTouchForm {
    width: 51%;
    position: relative;
    z-index: 2;
}

.getTouchImg {
    position: absolute;
    top: -50px;
    right: -129px;
    z-index: -1;
}

.formDetails {
    background-color: #f7f7f7;
    padding: 57px 78px;
    max-width: 630px;
}

.formTitle {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-bottom: 28px;
}

.fieldbox {
    padding-bottom: 20px;
}

.inputField {
    border: 3px solid #eaeaea;
    border-radius: 50px;
    padding: 26px 55px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    height: 82px;
    resize: none;
}
.inputField.inputmassField{height: 82px;padding-top: 26px;}
.inputField.inputmassField::-webkit-scrollbar {
    width: 4px;
    height: 4px
}
.inputField.inputmassField::-webkit-scrollbar-track {
    background: 0 0;
    border-radius: 50px
}
.inputField.inputmassField::-webkit-scrollbar-thumb {
    background: 0 0;
    border-radius: 50px
}
.inputField.inputmassField:hover::-webkit-scrollbar-track {
    background: #f0f0f0
}
.inputField.inputmassField:hover::-webkit-scrollbar-thumb {
    background: #09aa6e
}

.inputField::placeholder {
    color: #000;
}

.formTitle {
    padding-left: 50px;
}

.contactButton .btn,
.sendButton .btn {
    background-color: #09aa6e;
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 32px 20px;
}
.contactButton .btn{min-width: 206px;}
.sendButton .btn{min-width: 152px;}

.contactButton .btn:hover,
.sendButton .btn:hover {
    background-color: #000;
    transition: all .4s ease-in !important;

}

.burgerImg {
    margin-top: -125px;
    margin-right: 50px;
    z-index: 99;
}

/* product-details css  start*/
.productDetailSec {
    padding-top: 38px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 95px;
}

.productDetailSec .secHead {
    margin-bottom: 65px;
}

.productDetailsCol {
    padding: 0 20px;
}

.productCaloriesBox {
    position: relative;
    width: 100%;
}

.caloriesCricle {
    position: absolute;
    top: -60px;
    right: -50px;
    left: inherit;
    bottom: 0;
    height: 115px;
    width: 115px;
    background-color: #09aa6e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    padding: 30px 0;
    z-index: 99;

}

.caloriesCricle span {
    display: block;
    font-size: 33px;
    font-weight: 700;
}

.caloriesCricle small {
    font-weight: 600;
    font-size: 18px;
}

.productsBox {
    padding: 0 12px;
}

.productsBoxImg {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 83%;
}

.productsBoxImg img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    object-position: center;
}


.productBoxMain {
    margin: 0 -12px;
}

.productDetails {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 60px 0;
}

.productDetails .quantityBox {
    width: 254px;
    height: 82px;
    border-radius: 50px;
    border: 4px solid #eaeaea;
}

.productDetails .quantityBox .qtyplus {
    bottom: 14px;
    right: inherit;
    left: 85px;
    width: 46px;
}

.productDetails .quantityBox .qtyminus {
    top: 10px;
    right: inherit;
    left: 85px;
    width: 46px;
}

.productDetails .productName .productTitle {
    font-size: 34px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 37px;
}

.productDetails .productName .productDesc {
    font-size: 18px;
    max-width: 400px;
}

.productName {
    width: 50%;
}

.addCartMain {
    display: inline-flex;
    width: 50%;

}

.productDetails .quantityBox #quantityField {
    text-align: start;
    padding-left: 40px;
    font-size: 18px;
}

.cartButton {
    margin-left: -120px;
}

.cartButton .btn {
    transform: none;
    color: #fff;
    font-size: 17px;
    padding: 26px 30px;
}

.cartButton .btn .icon {
    font-size: 26px;
    padding-left: 20px;
}

.btn .btn-white-outline:hover {
    background-color: #000;
    transition: all .4s ease-in !important;
    border: none;
}

.productTable .productTitle {
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 700;
}

.tableCat {
    width: 100%;
    margin: 30px 0 90px;
}

.mainTableBox tr:nth-child(odd) {
    background-color: #eeeeee;
}

.mainTableBox tr td:nth-child(even) {
    width: 64%;
}

.mainTableBox tr td:nth-child(odd) {
    width: 36%;
}


.mainTableBox tr,
.mainTableBox td {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0;
}

.containSec {
    display: inline-block;
    vertical-align: middle;
}

.containSec .containDesc {
    position: relative;
    padding-left: 61px;
    font-size: 22px;
    font-weight: 600;
    color: #000;
    transition: all 0.4s ease-in-out;
    line-height: 1.4;
    display: inline-block;
}

.containImg {
    position: absolute;
    left: 0;
    top: -8px;
    max-width: 42px;
    max-height: 42px;
}

.productDetails,
.productTable .productTitle,
.mainTableBox td,
.containSec {
    padding-left: 65px;
}


/* product-details css end */

/*  responsive -css*/
@media only screen and (max-width: 1660px) {
    .faqsMain {
        margin: 0px 180px auto;
    }

    .getTouchBox {
        padding: 0 50px;
    }

    .formDetails {
        max-width: 575px;
    }

    .getTouchSec::before {
        bottom: 36%;
    }

    .burgerImg {
        margin-top: -110px;
        margin-right: 13px;
    }

    .productDetails, .productTable .productTitle, .mainTableBox td, .containSec {
        padding-left: 20px;
    }

    .productDetails{
        padding: 40px 0;
        padding-left: 20px;
    }

    .tableCat{
        margin: 30px 0 60px;
    }

    .productDetailSec {
        padding-bottom: 60px;
    }

    .caloriesCricle{
        right: -9px;
    }
}

@media only screen and (max-width: 1366px) {
    .contactDetails {
        padding-top: 170px;
    }


    .getTouchDesc p {
        max-width: 545px;
    }

    .getTouchSec::before {
        bottom: 36%;
    }

    .burgerImg {
        margin-top: -114px;
        margin-right: -75px;
        z-index: 99;
    }

    .productlistcol:last-child {
        width: 76%;
    }
    .caloriesCricle{width: 90px;height: 90px;padding: 26px 0;}
    .caloriesCricle span{font-size: 22px;}
    .caloriesCricle small{font-size: 15px;}
    

}

@media only screen and (max-width: 1199px) {
    .faqsMain {
        margin: 0px 60px auto;
    }
    .faqsMain .accordion-item .accordion-header .accordion-button{font-size: 16px;}
    .accordion-item .cmsCon p{font-size: 16px;}

    .getTouchSec{
        margin-top: 70px;
    }

    .getTouchBox {
        padding: 0px 25px;
        align-items: start;
    }

    .getTouchDesc .secTitle {
        font-size: 50px;
        padding-bottom: 20px;
    }
    .faqSec .secHead{margin-bottom: 50px;}
    .getTouchSec::before {
        display: none;
    }

    .secEmail .emailDesc {
        padding-top: 20px;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 400px;
    }

    .getTouchDesc .secHead {
        margin-bottom: 70px;
    }

    .getTouchSec::before {
        bottom: 35%;
    }

    .contactDetails {
        padding-top: 70px;
    }

    .formDetails{
        padding: 57px 30px;
    }

    .inputField {
        padding: 23px 50px;
    }

    .burgerImg {
        margin-top: -100px;
        margin-right: -91px;
    }

    /* product-details resposive start */
    .productDetailSec {
        padding-bottom: 40px;
    }

    .productDetailSec .secHead {
        margin-bottom: 30px;
    }

    .productsBox {
        padding: 0 7px;
    }

    .productBoxMain {
        margin: 0 -7px;
    }

    .mainTableBox tr, .mainTableBox td{font-size: 16px;}
    .containSec .containDesc{font-size: 22px;}
    .containImg{max-width: 36px;max-height: 36px;top: -6px;}

    .caloriesCricle span {
        font-size: 26px;
    }

    .caloriesCricle small {
        font-size: 16px;
    }

    .cartButton {
        margin-left: -124px;
    }

    .cartButton .btn {
        font-size: 14px;
        min-width: 122px;
        padding: 23px 30px;
    }

    .productDetails .quantityBox {
        height: 75px;
    }

    .productDetails .quantityBox #quantityField {
        padding-left: 36px;
    }

    .productDetails .quantityBox .qtyminus,
    .productDetails .quantityBox .qtyplus {
        left: 80px;
    }

    .cartButton .btn .icon {
        padding: 0 6px;
    }

    .commonTitle {
        width: 100%;
    }

    .productDetails {
        padding: 30px 0;
        padding-bottom: 40px;
    }

    .productDetails .productName .productTitle,
    .productTable .productTitle {
        font-size: 22px;
    }

    .tableCat .catName,
    .tableCat .catPrice {
        width: 50%;
    }

    .productDetails,
    .productTable .productTitle,
    .mainTableBox td,
    .containSec {
        padding-left: 30px;
    }

    .quantityBox .qtyplus {
        height: 40%;
    }

    .quantityBox .qtyminus {
        height: 40%;
    }

    .mainTableBox tr td:nth-child(odd),
    .mainTableBox tr td:nth-child(even) {
        width: 50%;
    }

    .tableCat {
        margin: 30px 0 40px;
    }



    /* product-details resposive  end*/
}

@media only screen and (max-width: 991px) {
    .accordion-item {
        margin-bottom: 30px;
    }

    .faqsMain {
        margin: 0px 30px auto;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        padding: 14px 35px 15px 15px;
        padding-right: 65px;
    }

    .accordion-button::after {
        right: 20px;
        background-size: 26px;
        width: 26px;height: 26px;
    }
    .faqSec{padding: 50px 0;}

    .accordion-body .cmsCon {
        padding: 30px 15px 0;
    }

    .getTouchSec {
        margin-top: 30px;
    }

    .getTouchDesc .secTitle {
        font-size: 40px;
    }

    .getTouchDesc .secHead {
        margin-bottom: 35px;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 310px;
    }

    .commonGetTouch .contactcall {
        font-size: 24px;
    }

    .contactDetails {
        padding-top: 35px;
    }

    .contactInfo p {
        padding: 28px 0;
    }

    .formDetails {
        padding: 20px;
        max-width: 400px;
    }

    .formTitle {
        padding-left: 35px;
        padding-bottom: 20px;
    }

    .inputField {
        font-size: 14px;
        padding: 15px 50px;
        height: 60px;
    }
    .inputField.inputmassField{height: 60px;padding-top: 19px;}

    .burgerImg {
        margin-top: -70px;
        margin-right: -68px;
    }
    .contactButton .btn, .sendButton .btn{padding: 24px 18px;font-size: 15px;}
    .contactButton .btn{min-width: 180px;}
    .sendButton .btn{min-width: 130px;}
    .getTouchDesc{padding-top: 50px;}

    /* product-details resposive  start*/
    .productDetailSec .productlistcol:last-child {
        width: 68%;
    }

    .productlistrow{
        margin: 0 -7px;
    }

    .productsBox {
        padding: 0 7px;
    }

    .caloriesCricle {
        height: 80px;
        width: 80px;
        right: -11px;
        top: -50px;
        padding: 19px 0;
    }
    .addCartMain{padding-left: 20px;}

    .caloriesCricle span {
        font-size: 22px;
    }

    .caloriesCricle small {
        font-size: 14px;
    }

    .productDetails .productName .productTitle,
    .productTable .productTitle {
        font-size: 18px;
    }

    .productDetails .productName .productTitle {
        padding-bottom: 20px;
    }

    .productDetails .productName .productDesc {
        font-size: 14px;
    }

    .mainTableBox tr td:nth-child(odd) {
        width: 55%;
    }

    .mainTableBox tr td:nth-child(even) {
        width: 45%;
    }

    .mainTableBox tr,
    .mainTableBox td {
        font-size: 14px;
    }

    .productDetails,
    .productTable .productTitle,
    .mainTableBox td,
    .containSec {
        padding-left: 15px;
    }

    .tableCat .catName,
    .tableCat .catPrice {
        width: 60%;
    }

    .catName,
    .catPrice {
        font-size: 16px;
    }

    .cartButton {
        margin-left: -80px;
    }

    .cartButton .btn {
        min-width: 95px;
    }

    .productDetails .quantityBox .qtyplus,
    .productDetails .quantityBox .qtyminus {
        left: 70px;
    }

    .productDetails .quantityBox .qtyplus{
        bottom: 8px;
    }

    .containSec .containDesc {
        font-size: 18px;
        padding-left: 48px;
    }

    .productDetails .quantityBox {
        height: 65px;
        width: 195px;
    }

    .cartButton .btn {
        padding: 18px 30px;
        font-size: 0;
    }

    .containImg {
        max-width: 30px;
        max-height: 30px;
        top: -4px;
    }

    .productDetails .quantityBox #quantityField {
        padding-left: 27px;
    }

    /* product-details resposive  end*/

}

@media only screen and (max-width: 767px) {
    .faqsMain {
        margin: 0 20px auto;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        font-size: 14px;
    }
    .faqSec{padding: 30px 0;}
    .accordion-item{margin-bottom: 20px;}
    .faqSec .secHead{margin-bottom: 30px;}

    .accordion-button::after {
        background-size: 26px;
        width: 26px;
        height: 26px;
        right: 30px;
    }

    .accordion-body .cmsCon {
        padding: 20px 15px 0;
    }

    .accordion-item .cmsCon p {
        font-size: 14px;
    }

    .getTouchDesc .secTitle {
        max-width: 100%;
    }

    .getTouchCon {
        width: 100%;
        text-align: center;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 100%;
    }

    .contactDetails {
        padding-bottom: 50px;
    }

    .getTouchDesc .secTitle {
        padding-bottom: 15px;
    }

    .secEmail .emailDesc {
        padding-top: 15px;
    }

    .getTouchForm {
        width: 100%;
        padding: 35px 35px 0;
    }
    .inputField{padding: 15px 35px;}

    .contactInfo p {
        padding: 15px 0;
    }


    .getTouchImg {
        top: -15px;
        right: -38px;
        height: 700px;
    }

    .formDetails{
        max-width: 100%;
    }

    .burgerImg {
        margin-top: -75px;
        margin-right: 0;
        width: 470px;
        margin-left: 160px;
    }

    .getTouchDesc {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
    }

    .getTouchDesc .secHead{
        max-width: 100%;
    }
    .getTouchDesc .secTitle br{display: none;}
    .getTouchDesc{padding-top: 0;}

    .secEmail {
        width: 50%;
    }

    .contactDetails {
        width: 50%;
        margin-top: 0;
        margin-left: auto;
        padding: 0;
        padding-bottom: 0;
    }

     .sendButton .btn{
        padding: 25px;
     }

      /* product-details resposive  start*/
    .productDetailSec {
        padding-bottom: 30px;
    }

    .productDetailSec {
        padding-left: 15px;
        padding-right: 15px;
    }

    .productDetailSec .productlistcol:last-child {
        width: 100%;
    }

    .caloriesCricle span {
        font-size: 22px;
    }

    .caloriesCricle {
        right: -23px;
    }

    .caloriesCricle {
        height: 75px;
        width: 75px;
        padding: 16px 0;
    }

    .tableCat {
        margin: 30px 0 35px;
    }

    .mainTableBox tr td:nth-child(odd),
    .mainTableBox tr td:nth-child(even) {
        width: 50%;
    }

    .productDetails .quantityBox .qtyplus {
        bottom: 10px;
    }

    .cartButton .btn {
        padding: 18px 30px;  
    }

    .containImg {
        max-width: 20px;
        max-height: 20px;
        top: 0px;
    }

    .containSec .containDesc {
        padding-left: 33px;
        font-size: 16px;
    }

    .productDetails .quantityBox .qtyplus,
    .productDetails .quantityBox .qtyminus {
        left: 65px;
    }

    /* product-details resposive  end*/
}


@media only screen and (max-width: 568px) {
    .faqsMain {
        margin: 0;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        padding: 17px 35px 13px 10px;
        padding-right: 45px;
    }

    .accordion-button::after {
        right: 10px;
    }

    .getTouchForm {
        padding: 0;
    }

    .secEmail {
        width: 100%;
    }

    .contactDetails{
        width: 100%;
    }

    .getTouchDesc .secHead {
        margin-bottom: 20px;
    }
    

    .formTitle {
        font-size: 24px;
    }

    .getTouchForm {
        padding-top: 33px;
    }

    .getTouchImg {
        top: -150px;
    }

    .burgerImg {
        margin-top: -80px;
        margin-right: 0;
        margin-left: 100px;
        width: 450px;
    }

    .contactDetails {
        padding-top: 20px;
    }
    .productBoxMain .slick-dots{position: absolute;bottom: 14px;left: 0;right: 0;margin-top: 0;}


}


@media only screen and (max-width: 479px) {
    .getTouchBox{
        padding: 0;
    }

    .getTouchImg {
        top: -124px;
    }
    
    .burgerImg {
        margin-top: -80px;
        margin-right: 0;
        width: 400px;
        margin-left: 40px;
    }
    /* product details responsive start */
    .caloriesCricle {
        height: 70px;
        width: 70px;
        top: -37px;
        right: -11px;
    }

    .caloriesCricle span {
        font-size: 18px;
    }

    .caloriesCricle small {
        font-size: 12px;
    }

    .addCartMain {
        width: 83%;
        padding-left: 0;
    }
    .productDetails{padding-bottom: 30px;}


    .containSec .containDesc {
        padding-left: 34px;
        font-size: 14px;
    }

    .containImg {
        max-width: 20px;
        max-height: 20px;
        top: -1px;
    }

    .productDetailSec {
        padding-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .mainTableBox tr td:nth-child(odd) {
        width: 60%;
    }

    .mainTableBox tr td:nth-child(even) {
        width: 40%;
    }

    .productDetails,
    .productTable .productTitle,
    .mainTableBox td,
    .containSec {
        padding-left: 0;
    }

    .productName {
        width: 100%;
        padding-bottom: 20px;
    }

    .productDetails .productName .productTitle {
        padding-bottom: 15px;
    }

    .tableCat {
        margin: 0 0 20px;
    }

    .productDetailSec tr td{
        padding: 10px 15px;
    }

    /* product details responsive end */

}

@media only screen and (max-width: 380px) {
    .burgerImg{
        margin-left: 25px;
    }
    
}
@media only screen and (max-width: 320px) {
.formTitle{padding-left: 0;text-align: center;}
.burgerImg{width: 315px;margin-top: -53px;}
}