/*--FAQ-sec css---*/
.faqSec {
    border-bottom: 1px solid #eaeaea;
    padding: 70px 0;
}

.faqSec .secHead {
    margin-bottom: 70px;
}

.faqsMain {
    max-width: 1140px;
    margin: 0 240px auto;
}

.faqsmain .accordion-item {
    background: #fff;
    margin-bottom: 35px;
    border: 0;
}

.accordion-item {
    border: 0;
    margin-bottom: 45px;
}

.accordion-item:last-child {
    margin-bottom: 10px;
}

.faqsMain .accordion-header {
    position: relative;
}

.faqsMain .accordion-item .accordion-header .accordion-button {
    padding: 12px 35px 15px 65px;
    color: #000;
    font-size: 18px;
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    background-color: #eeeeee;
    display: block;
    padding-right: 90px;
    box-shadow: none;
}

.accordion-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 35px;
    margin: auto;
    background-image: url(../img/svg/plus.svg);
    object-fit: contain;
    object-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.accordion-button:focus {
    border-color: inherit;
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../img/svg/minus.svg);
}

/*.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #1989ff;
}*/


.accordion-body .cmsCon {
    padding: 30px 65px 0 65px;
}

.accordion-item .cmsCon p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
}


/* touch-sec css */
.getTouchSec {
    position: relative;
    margin-top: 110px;
}

.getTouchSec::before {
    content: "";
    position: absolute;
    bottom: 38.5%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
}

.getTouchBox {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.getTouchCon {
    width: 49%;
}

.getTouchDesc .secTitle {
    padding-bottom: 30px;
    max-width: 400px;
}

.getTouchDesc .secHead {
    margin-bottom: 142px;
}

.getTouchDesc p {
    max-width: 650px;
}

.commonGetTouch a {
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

.commonGetTouch a:hover {
    color: #09aa6e;
    transition: all 0.4s ease-in-out;
}

.secEmail .emailDesc {
    padding-top: 28px;
    max-width: 450px;
}

.contactDetails {
    padding-top: 150px;
}

.contactInfo p {
    padding: 30px 0 50px;
    margin: 0;
}


.getTouchForm {
    width: 51%;
    position: relative;
}

.getTouchImg {
    position: absolute;
    top: -50px;
    right: -129px;
    z-index: -1;
}

.formDetails {
    background-color: #f7f7f7;
    padding: 57px 78px;
    max-width: 630px;
}

.formTitle {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    padding-bottom: 28px;
}

.fieldbox {
    padding-bottom: 20px;
}

.inputField {
    border: 3px solid #eaeaea;
    border-radius: 50px;
    padding: 30px 55px;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.inputField::placeholder {
    color: #000;
}

.formTitle {
    padding-left: 50px;
}

.contactButton .btn,
.sendButton .btn {
    font-size: 14px;
    background-color: #09aa6e;
    border: none;
    color: #fff;
    padding: 30px;
    border-radius: 50px;
}

.contactButton .btn:hover,
.sendButton .btn:hover {
    background-color: #000;
    transition: all .4s ease-in !important;
}

.burgerImg {
    margin-top: -125px;
    margin-right: 50px;
    z-index: 99;
}




/* product-details css */
.productDetailSec{
    padding-top: 38px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 95px;
}

.productDetailSec .secHead{
    margin-bottom: 65px;
}

.productDetailsCol{
    padding: 0 20px;
}

.productCaloriesBox{
    position: relative;
}

.caloriesCricle{
    position: absolute;
    top: -50px;
    right: 0;
    left: inherit;
    bottom: 0;
    height: 100px;
    width: 100px;
    background-color: #09aa6e;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;

}

.caloriesCricle span{
    display: block;
    font-size: 33px;
    font-weight: bold;
}

.caloriesCricle small{
    font-weight: 600;
}

.productBoxMain {
    display: flex;
    flex-wrap: wrap;
}

.productsBox {
    width: 50%;
    padding: 0 12px;
}

.productDetailsCol:last-child{
    width: 74%;
}

.productDetails{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    padding: 60px 65px;
}

.productDetails .quantityBox{
    width: 254px;
    height: 80px;
    border-radius: 50px;
}

.productDetails .quantityBox .qtyplus{
    bottom: 14px;
    right: inherit;
    left: 70px;
}

.productDetails .quantityBox .qtyminus{
    top: 14px;
    right: inherit;
    left: 70px;
}

.productDetails .productName .productTitle{
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #000;
    text-transform: capitalize;
    padding-bottom: 37px;
}

.productDetails .productName .productDesc{
    font-size: 18px;
    max-width: 400px;
}

.productName{
    width: 50%;
}

.addCartMain{
    display: flex;
    width: 50%;
}

.productDetails .quantityBox #quantityField{
   text-align: start;
   padding-left: 40px;
   font-size: 18px;
}

.cartButton .btn{
    background-color: #09aa6e;
    color: #fff;
    font-size: 17px;
    margin-left: -135px;
    padding: 26px 20px;
}

.cartButton .btn .icon{
    font-size: 26px;
    padding: 0 20px;
}

.btn .btn-white-outline:hover{
    background-color: #000;
    transition: all .4s ease-in !important;
    border: none;
}

.productTable .productTitle{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: bold;
    padding: 0 65px;
}

.tableCat{
    width: 100%;
    margin: 30px 0 90px;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

.tableCat .catName{
    padding-left: 62px;
    width: 44%;
}

.tableCat .catPrice{
    width: 56%;
}

.catName,.catPrice{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 14px 0;
}

.containSec{
    display: inline-block;
    vertical-align: middle;
}

.containSec .containDesc{
    position: relative;
    padding-left: 61px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    transition: all 0.4s ease-in-out;
}

.containImg{
    position: absolute;
    left: 0;
    top: -10px;
}

.containSec img{
    width: 42px;
    height: 42px;
}







/*  responsive -css*/
@media only screen and (max-width: 1660px) {
    .faqsMain {
        margin: 0px 180px auto;
    }

    .getTouchBox {
        padding: 0 50px;
    }

    .formDetails {
        max-width: 575px;
    }

    .getTouchSec::before {
        bottom: 36%;
    }

    .burgerImg {
        margin-top: -110px;
        margin-right: 13px;
    }
}

@media only screen and (max-width: 1366px) {
    .contactDetails {
        padding-top: 170px;
    }


    .getTouchDesc p {
        max-width: 545px;
    }

    .getTouchSec::before {
        bottom: 36%;
    }

    .burgerImg {
        margin-top: -114px;
        margin-right: -75px;
        z-index: 99;
    }

}

@media only screen and (max-width: 1199px) {
    .faqsMain {
        margin: 0px 120px auto;
    }

    .getTouchSec {
        margin-top: 70px;
    }

    .getTouchBox {
        padding: 0px 25px;
        align-items: start;
    }

    .getTouchDesc .secTitle {
        font-size: 50px;
        padding-bottom: 20px;
    }

    .getTouchSec::before {
        display: none;
    }

    .secEmail .emailDesc {
        padding-top: 20px;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 400px;
    }

    .getTouchDesc .secHead {
        margin-bottom: 70px;
    }

    .getTouchSec::before {
        bottom: 35%;
    }

    .contactDetails {
        padding-top: 120px;
    }

    .formDetails {
        padding: 57px 30px;
    }

    .inputField {
        padding: 23px 50px;
    }

    .burgerImg {
        margin-top: -100px;
        margin-right: -91px;
    }
}

@media only screen and (max-width: 991px) {
    .accordion-item {
        margin-bottom: 30px;
    }

    .faqsMain {
        margin: 0px 30px auto;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        padding: 12px 35px 15px 15px;
        padding-right: 70px;
    }

    .accordion-button::after {
        right: 20px;
    }

    .accordion-body .cmsCon {
        padding: 30px 10px 0;
    }

    .getTouchSec {
        margin-top: 30px;
    }

    .getTouchDesc .secTitle {
        font-size: 40px;
    }

    .getTouchDesc .secHead {
        margin-bottom: 35px;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 310px;
    }

    .commonGetTouch a {
        font-size: 24px;
    }


    .commonDesc {
        font-size: 13px;
    }

    .contactDetails {
        padding-top: 35px;
    }

    .contactInfo p {
        padding: 28px 0;
    }

    .formDetails {
        padding: 20px;
        max-width: 400px;
    }

    .formTitle,
    .inputField {
        padding-left: 20px;
    }

    .inputField {
        font-size: 14px;
        padding: 15px 50px;
    }

    .burgerImg {
        margin-top: -70px;
        margin-right: -68px;
    }

}

@media only screen and (max-width: 767px) {
    .faqsMain {
        margin: 0 20px auto;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        font-size: 14px;
    }

    .accordion-button::after {
        background-size: 26px;
        width: 26px;
        height: 26px;
        right: 30px;
    }

    .accordion-body .cmsCon {
        padding: 20px 10px 0;
    }

    .accordion-item .cmsCon p {
        font-size: 14px;
    }

    .getTouchDesc .secTitle {
        max-width: 100%;
    }

    .getTouchCon {
        width: 100%;
        text-align: center;
    }

    .getTouchDesc p,
    .secEmail .emailDesc {
        max-width: 100%;
    }

    .contactDetails {
        padding-bottom: 50px;
    }

    .getTouchDesc .secTitle {
        padding-bottom: 15px;
    }

    .secEmail .emailDesc {
        padding-top: 15px;
    }

    .getTouchForm {
        width: 100%;
        padding: 35px 45px 0;
    }

    .inputField {
        padding: 17px;
    }

    .contactInfo p {
        padding: 15px 0;
    }

    .getTouchImg {
        top: -15px;
        right: -38px;
        height: 700px;
    }

    .formDetails {
        max-width: 100%;
    }

    .burgerImg {
        margin-top: -75px;
        margin-right: 0;
        width: 470px;
        margin-left: 160px;
    }

    .getTouchDesc {
        display: flex;
        flex-wrap: wrap;
        align-items: start;
    }

    .getTouchDesc .secHead {
        width: 100%;
    }

    .secEmail {
        width: 40%;
    }

    .contactDetails {
        width: 50%;
        margin-top: 0;
        margin-left: auto;
        padding: 0;
        padding-bottom: 0;
    }

    .sendButton .btn {
        padding: 25px;
    }
}


@media only screen and (max-width: 568px) {
    .faqsMain {
        margin: 0;
    }

    .faqsMain .accordion-item .accordion-header .accordion-button {
        padding: 17px 35px 13px 10px;
        padding-right: 60px;
    }

    .accordion-button::after {
        right: 10px;
    }

    .getTouchForm {
        padding: 0;
    }

    .secEmail {
        width: 100%;
    }

    .contactDetails {
        width: 100%;
    }

    .contactMain {
        padding-right: 27px;
    }

    .getTouchDesc .secHead {
        margin-bottom: 20px;
    }


    .formTitle {
        font-size: 24px;
    }

    .getTouchForm {
        padding-top: 33px;
    }

    .getTouchImg {
        top: -150px;
    }

    .burgerImg {
        margin-top: -80px;
        margin-right: 0;
        margin-left: 100px;
        width: 450px;
    }

    .contactDetails {
        padding-top: 20px;
    }

}


@media only screen and (max-width: 479px) {
    .getTouchBox {
        padding: 0;
    }

    .getTouchImg {
        top: -124px;
    }

    .burgerImg {
        margin-top: -80px;
        margin-right: 0;
        width: 400px;
        margin-left: 40px;
    }

}

@media only screen and (max-width: 380px) {
    .burgerImg {
        margin-left: 25px;
    }
}